// app global css in SCSS form

@font-face {
    font-family: Spartan;
    src: url("/fonts/Spartan-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    // text-decoration: none;
    font-family: Spartan, "Roboto", "-apple-system", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
}

body {
    min-width: 320px;
}

form[disabled="disabled"] * {
    pointer-events: none;
}

// global custom styles
.q-btn__content span,
.q-chip__content {
    padding-top: 3px !important;
}
.q-date .q-date__calendar-item button span {
    padding-top: 0;
}
.q-drawer-container,
.q-drawer,
.q-toolbar,
.q-table__container,
.bg-gray-alpha,
.navheader {
    background: rgba(128, 128, 128, 0.35);
    color: #fff;
}
.bg-gray-alpha-2 {
    background: rgba(128, 128, 128, 0.55);
}
.bg-none {
    background: none !important;
    // box-shadow: none;
}
.hover-underline:hover {
    text-decoration: underline;
}
.highlighted {
    color: $primary;
}
.quick-search {
    font-size: 12px;
    width: 185px;
}
.quick-search .q-placeholder {
    color: white;
}

.blur-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-image: url("/bg-cms.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: scale(1.1);
    overflow: hidden;
}
