// app global css in SCSS form

@font-face {
    font-family: Spartan;
    src: url("../statics/fonts/Spartan-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Spartan, "Roboto", "-apple-system", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
}

body {
    min-width: 320px;
}

// global fix
.q-btn .q-btn__content div,
.q-chip__content span {
    padding-top: 3px;
}

.bg-none {
    background: none !important;
    // box-shadow: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.highlighted {
    color: $primary;
}
