// app global css in SCSS form

@font-face {
    font-family: Spartan;
    src: url("../statics/fonts/Spartan-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    // text-decoration: none;
    font-family: Spartan, "Roboto", "-apple-system", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
}

body {
    min-width: 320px;
}

// global fix
.q-btn__content span,
.q-chip__content {
    padding-top: 3px !important;
}
.q-drawer-container,
.q-drawer,
.q-toolbar,
.q-table__container,
.bg-gray-alpha,
.navheader {
    background: rgba(128, 128, 128, 0.25);
    color: #fff;
}
.bg-none {
    background: none !important;
    // box-shadow: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.highlighted {
    color: $primary;
}
